# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments if one of you is using them
venv/
.env/
.envrc

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

